<div class="mt-4">
    <form method="get" action="">
        <div class="form-group">
            <label for="search-input">Search</label>
            <input type="text" name="q" class="form-control" id="search-input" aria-describedby="Search">
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>