<div class="container mt-4">
    <h3>Upload toy</h3>

    <form class="mt-4" method="post" action="/toys/store">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" name="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" placeholder="Description" name="description">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="text" class="form-control" id="description" placeholder="Price" name="price">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="url" class="form-control" id="image" placeholder="Link" name="image">
        </div>
        <button type="submit" class="btn btn-primary">Add toy</button>
    </form>
</div>